<!DOCTYPE HTML>
<html lang="en-US" {{ page.html-meta }}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Open+Sans:400,400i,700,700i&display=swap">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="icon" href="/favicon/32.png" sizes="32x32">
  <link rel="icon" href="/favicon/128.png" sizes="128x128">
  <link rel="icon" href="/favicon/192.png" sizes="192x192">
  <link rel="icon" href="/favicon/196.png" sizes="196x196">
  <link rel="apple-touch-icon" href="/favicon/152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/favicon/167.png" sizes="167x167">
  <link rel="apple-touch-icon" href="/favicon/180.png" sizes="180x180">
  {% unless page.url == '/404.html' %}
  <link rel="canonical" href="{{ site.base-url }}{{ page.url }}">
  {%- endunless %}
</head>
<body>
{% include header.html %}
<main class="wrap {{ page.css-class }}">
{{ content }}
</main>
{% include footer.html %}
</body>
<script src="/js/section-highlighter.js"></script>
</html>
